{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": [
            "Chrome >= 50"
          ]
        }
      }
    ],
    "react",
    "stage-2"
  ],
  "plugins": [
    "transform-runtime",
    [
      "module-resolver",
      {
        "root": [
          "."
        ]
      }
    ],
    "transform-export-extensions"
  ]
}
