{
  "presets": [
    [
      "env"
    ],
    "react",
    "stage-2"
  ],
  "plugins": [
    "transform-runtime",
    [
      "module-resolver",
      {
        "root": [
          "."
        ]
      }
    ],
    "transform-export-extensions"
  ]
}
